[submodule "frontend"]
	path = frontend
	url = https://github.com/kd-kitchen/cocktail-recipes-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/kd-kitchen/cocktail-recipes-backend.git
